<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link href="css/bundle.css" rel="stylesheet">

    <link href="node_modules/angular-material/angular-material.min.css" rel="stylesheet">
    <link href="node_modules/angular/angular-csp.css" rel="stylesheet">

    <script src="js/bundle.js"></script>
    <script src="http://localhost:9091"></script>
</head>

<body ng-app="restaurantApp">
<div class="container">
    <h1>Restaurante do dia</h1>
    <div>
        <form name="chooseRestaurant.form" ng-controller="chooseRestaurantCtrl as chooseRestaurant" ng-cloak>
            <p>Selecione o restaurante:</p>
            <md-radio-group ng-model="chooseRestaurant.restaurant" class="md-primary">
                <md-radio-button ng-repeat="option in chooseRestaurant.restaurants"
                                 ng-value="option.id" >
                    {{ option.name }}<br/>
                </md-radio-button>
            </md-radio-group>
            <md-button class="md-raised md-primary" ng-click='chooseRestaurant.submit()'>Votar</md-button>
        </form>
    </div>

</div>
</body>
</html>